<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    
    <div>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/users" class="active">Users</a></li>
        </ul>
        <div class="wrap"> 
          <table>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>City</th>
            </tr>
            <tr>
              <td>KWD</td>
              <td>kwd@gmail.com</td>
              <td>Berlin</td>
            </tr>
            <tr>
              <td>KenIT</td>
              <td>kenit@gmail.com</td>
              <td>London</td>
            </tr>
          </table>
        </div>
    </div>
</body>
</html>